<article class='canvas' >
  <div class='row' >
    <div class='span1'>
      <div class="fb-profile-pic" uid="<%= current_user.try(:identifier) %>" size="square" ></div>
    </div>
    <div class='span5'>
      <%= current_user.profile.name %>
    </div>
  </div>

<% unless @friends.nil? %>
  <% @friends.each do |friend| %>
    


  <div class='row' >
    <div class='span1'>
      <div class="fb-profile-pic" uid="<%= friend.try(:identifier) %>" size="square" ></div>
    </div>
    <div class='span5'>
      <%= friend.name %>
    </div>
  <% end %>
  <% end %>
</article>